Does the HTTP freshness lifetime need to match the TTL?

In reading this a second time through, I wonder what value there is in matching the freshness lifetime to the TTL?  The implicit assumption here is that it is important that a cache never serve a response that includes an expired RRset.

This simplifies the implementation of a client, but it also means that it tends to make client's stupid.  That is, they might not use RRsets that are still valid from the perspective of their TTL, simply because they are no longer in cache.  

It might be better to have the DNS code that uses the RRset being responsible for checking the TTL.  HTTP will ensure that the time that the RRset was generated is faithfully recorded and transferred with the response, so that should be enough.   It potentially allows use of old responses for RRsets that are still valid.

Finally, the mention of stale-while-revalidate and stale-if-error actually suggests that this requirement is more.  These operate outside of the freshness lifetime.

I think it's important that DOH be usable with standard (non-DOH-aware) HTTP caches.  Allowing the cache lifetime to exceed the shortest TTL might make it impossible to use DOH through such a cache: the client cannot flush the cache, and the cache entry might not expire until after its longest TTL.

+1 to @bemasc's response.

Clients can always set Cache-Control: no-cache and avoid the cache.

The point here is that the TTL is the authoritative value.  Insisting on HTTP matching that both loses fidelity (multiple RRsets have different TTLs) and encourages lazy implementation of clients.

Agree with everyone. I would say that a server/parser could in that case imagine to set a "retry-after:60 " HTTP header (corresponding to the lower TTL in this example RR); when TTL < RR situation verifies (simple calculation, t0 plus lowest values in RR), a "vary: retry-after" header could control the re-freshing of object (**aka, force refresh sometimes but do still do cache in the meantime**).

By the way, some ISP's DNS used to generally override all TTL that were lower than 60 seconds, used to be even 300 seconds. meeting halfway between some cache and good reachability/redundancy would be good enough (TTL real value is to support/improve the service continuity/validity. TTL mission is not guessing how long a service would keep being available, or running). Some services as Skype would get such cache crazy, due to 5 to 30 seconds TTL.... **a choice must be done somewhere between precision and performances.**. An average HTTP cache lasts between minutes and days, say everywhere from 1 to 8 hours in proxy administration praxis, 24 hours max. 24 hours in DNS terms is unacceptable.

How accurately will the HTML programmer choose such blind-validity duration? In some ways, choosing HTTP validity exactly the same as the choiche of TTL for a given record, a pure bet !! 

Caching is one of the pillars of DOH in terms of speed and HTTP-friendliness. As one of the goals is (i believe) creating and populating a global valid cache through HTTP (as alternative or complement of existing DNS cache), doing no-cache is also a bit "against" the principle. but still a feature for privacy amateurs.

I see value in HTTP cache also in case of DDoS; HTTP/DOH cache could represent a good fallback/backup of DNS data anyway, and HTTP is proved more resilent to flooding. One of the goals of DOH is to leverage use of **existing** infrastructures !

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After et https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Vary

I favor keeping the current arrangement.

A server that wishes to avoid the crux of the issue (i.e. that HTTP has one TTL, but the DNS response is a set of TTLs) can decompose response into multiple HTTP responses using HTTP/2 push each with their own TTLs. That seems like the right approach.

I have a pretty strong inclination that the principle of least surprise says data in a successful HTTP response can always be used one time (but not reused) even if you don't implement any caching logic. I know your suggestion doesn't technically infringe on that - its more of a requirement on the processing of the response- but it seems like a much more fragile alignment.

and I think @bemasc is on to something important with cache interop.


My .02 - I think that the advice in the current draft is good -- but it's just advice, and shouldn't have RFC2119 requirements associated with it. 

From the current markdown:

> Specifically, the HTTP freshness lifetime SHOULD be set to expire at the same time any of the DNS resource records in the Answer section reach a 0 TTL.

Under what conditions can this SHOULD be violated? What is a client to do when it encounters a violation? Suggest "Specifically, the HTTP freshness lifetime should generally be set..."

> The response freshness lifetime MUST NOT be greater than that indicated by the DNS resource record with the smallest TTL in the response.

As above, there may be cases where this is desirable. Suggest "Be aware that if the response freshness lifetime is greater than that indicated by the DNS resource record with the smallest TTL in the response, HTTP caches can store those records for longer than they are valid for; clients can request a fresh HTTP response (e.g., using the Cache-Control: no-cache request directive) in this situation, but this can add latency."

Question: should we say anything about whether a DOH client can use a stale HTTP response, and the conditions under which it should?

> If the DNS response has no records in the Answer section, and the DNS response has an SOA record in the Authority section, the response freshness lifetime MUST NOT be greater than the MINIMUM field from that SOA record. (See {{RFC2308}}.)

As above.

> Otherwise, the HTTP response MUST set a freshness lifetime ({{RFC7234}} Section 4.2) of 0 by using a mechanism such as the no-cache Cache-Control directive ({{RFC7234}} Section 5.2.1.4).

This is really vague for a MUST. `no-cache` implies `must-revalidate`; is that required? Also, what is the otherwise applying to -- is this all responses that have no records in the answer section *and* no records in the DNS response?

> A DNS API client that receives a response without an explicit freshness lifetime MUST NOT assign that response a heuristic freshness ({{RFC7234}} Section 4.2.2.) greater than that indicated by the DNS Record with the smallest TTL in the response.

Many DNS API clients won't have any control over the heuristics that their (or an upstream) cache applies; this isn't an enforceable requirement.

@mnot beat me to it.  I think that we're making suggestions, not interoperability requirements.  

> the HTTP response MUST set a freshness lifetime ({{RFC7234}} Section 4.2) of 0 

I would prefer to have no freshness information (and rely on heuristics) than to recommend marking things uncacheable.

> Question: should we say anything about whether a DOH client can use a stale HTTP response, and the conditions under which it should?

I think that the rules are similar to using (and inflating) TTL.  Saying nothing might be easiest.


longer-than-min-TTL is not significantly different to a DNS server extending the TTL.  It's not advisable, but it still happens.  The difference is that HTTP makes this visible, where DNS does not.

A client that makes a request can reasonably use the response without checking either freshness lifetime or TTL.

The current doc states "The response freshness lifetime MUST NOT be greater than that indicated by the DNS resource record with the smallest TTL in the response." I am guessing that this and any other similar text should refer to RRSet not RR.

I really hate the "A DOH response that was previously stored in an HTTP cache will contain the {{RFC7234}} Age response header indicating the elapsed time between when the entry was placed in the HTTP cache and the current DOH response. DNS API clients should subtract this time from the DNS TTL in each RRset to determine the time remaining on the TTL." in DNS that is the job of the cache not the client. Or do you want to support DNS unaware HTTP caches?

> do you want to support DNS unaware HTTP caches?

yes - that's part of using http as the substrate.. 

> longer-than-min-TTL is not significantly different to a DNS server extending the TTL.

I agree: in both cases, it is a protocol violation.  The fact that some recursive resolvers fail to implement the DNS protocol does not mean that we need to endorse their incorrect behavior.  If they want to violate RFC 1035, they can equally well violate DOH.

The fact that these violations *usually* mostly work in practice is all the more reason to be clear about the designed behavior, because people who get it wrong won't notice for a long time.

> A client that makes a request can reasonably use the response without checking either freshness lifetime or TTL.

Perhaps we should state this normatively.

> The fact that some recursive resolvers fail to implement the DNS protocol does not mean that we need to endorse their incorrect behavior. If they want to violate RFC 1035, they can equally well violate DOH.

Hear hear.   Exactly the point I was about to make.

I'm just reopening this because I use the github issues list as an editorial punchlist - not a comment about where to discuss :)

OK, but the rest of you: please don't comment here, but please do comment on the list. Thanks!

> Under what conditions can this SHOULD be violated? What is a client to do when it encounters a violation? Suggest "Specifically, the HTTP freshness lifetime should generally be set..."

that is answered in the next sentence: "The response freshness lifetime MUST NOT be greater                                                                                                                                               than that indicated by the DNS resource record with the smallest TTL                                                                                                                                              in the response.  "

its basically saying you SHOULD make HTTP and DNS match, but if you can't do that (because perhaps your code module can't fully parse DNS) you can do something like max-age = 0



I will soon commit #177 as my best interpretation of the discussion (here and on the mailling list)

It accepts most of Mark's changes but preserves the normative language and adds back a couple of small things that were the result of previous explicit working group requests (e.g. noting that cache busting is not something that can be done easily to a DNS-only cache).

