tools.ietf.org doesn't parse Section 9 references

In section 9 of DOH, it makes the following references:

> Sections 10.6 (Compression) and 10.7 (Padding) of [RFC7540] provide some further advice on mitigations within an HTTP/2 context.

This isn't one of the formats that the tools process will convert into deep links.  Instead, the "10.6" becomes a link to section 10.6 of DOH (which doesn't exist), while 10.7 doesn't become a link at all.

thanks. ugh.

On Mon, Mar 19, 2018 at 10:52 AM, Mike Bishop <notifications@github.com>
wrote:

> In section 9 of DOH, it makes the following references:
>
> Sections 10.6 (Compression) and 10.7 (Padding) of [RFC7540] provide some
> further advice on mitigations within an HTTP/2 context.
>
> This isn't one of the formats that the tools process will convert into
> deep links. Instead, the "10.6" becomes a link to section 10.6 of DOH
> (which doesn't exist), while 10.7 doesn't become a link at all.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/dohwg/draft-ietf-doh-dns-over-https/issues/90>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AAP5syXAYLDtLn6vGSPOmWsmguK-OQa_ks5tf43TgaJpZM4Sv8aw>
> .
>


HTTP/2 provides further advice about the use of compression (see Section 10.6 of [RFC7540]) and padding (Section 10.7 of [RFC7540]).

That removes the "mitigations" word. 

Fixed in  PR #91 

closed by #91