Bad stapling advice

Please don't include advice about TLS extensions that aren't deployed.  RFC 6961 is not widely implemented or used.  I'm sad to say, but RFC 6066 is the best reference for OCSP stapling right now.

Also, if you are including this sort of advice, advice against using AIA should go there as well.  Some browsers chase AIA URLs in certificates, which will fail for similar reasons.  (You can cite Section 4.2.2.1 of RFC 5280 for that bit).